body, html {
  margin: 0;
  border: 0;
}

div {
  box-sizing: border-box;
}

.workspace {
  background-color: #ddd;
}

.mainbrick {
  margin: 25px;
}

.mainbrick-color {
  background-color: #bbb;
}

.mainbrick-inner {
  height: 500px;
  padding: 15px;
  width: 500px;
}

.mainbrick-inputslots {
  height: 30px;
}

.mainbrick-slot {
  display: inline-block;
  height: 20px;
  margin-left: 60px;
  margin-top: 10px;
  width: 20px;
}

.inner-section {
  height: 150px;
  position: relative;
  width: 100%;
}

.constant {
  background-color: #8391d8;
  border-radius: 50%;
  display: inline-block;
  line-height: 32px;
  min-height: 32px;
  min-width: 32px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.constant-one {
  left: 150px;
}


.pipe {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.pipe-shape {
  background-color: #8391d8;
  height: 100%;
  position: absolute;
  width: 20px;
}

.pipe-value {
  z-index: 100;
}

.pipe-one {
  height: 100px;
  left: 69px;
  top: -15px;
}

.pipe-one > .pipe-shape {
  transform: skewX(20deg);
}
