body, html {
  margin: 0;
  border: 0;
}

div {
  box-sizing: border-box;
}

.workspace {
  background-color: #ddd;
  overflow: hidden;
}

.mainbrick {
  margin: 25px;
}

.mainbrick-color {
  background-color: #bbb;
}

.mainbrick-body {
  display: inline-block;
  padding: 0 55px;
}

.mainbrick-inputslots {
  height: 20px;
}

.mainbrick-slot {
  display: inline-block;
  height: 20px;
  margin-left: 75px;
  width: 20px;
}

.inner-section {
  position: relative;
}

.brick {
  width: auto;
}

.brick-body {
  height: 17px;
  position: relative;
  transition: background-color 500ms, height 500ms, width 500ms;
  width: 50px;
}

.brick-body > .brick-body-expanded {
  display: none;
  opacity: 0;
  transition: opacity 500ms 500ms;
}

.brick-color {
  background-color: #b39ddb;
  box-shadow: 2px 2px 5px gray;
}

.brick-name {
  font-size: 12px;
  left: 50%;
  position: absolute;;
  top: 50%;
  transform: translate(-50%, -50%);
}

.brick-output {
  position: relative;
}

.brick-slot {
  display: inline-block;
  height: 10px;
  margin-left: 10px;
  width: 10px;
}

.brick-slot:first-child:nth-last-child(1) {
  margin-left: 20px;
}

.brick-slots {
  display: flex;
}

.brick-expandable {
  position: relative;
}

.brick-expandable > .brick-body > .brick-name {
  left: 25px;
  top: 8px;
  transition: left 500ms, top 500ms;
  z-index: 200;
}

.brick-expand-icon {
  align-items: center;
  border: 1px solid #525252;
  color: #525252;
  cursor: pointer;
  display: inline-flex;
  font-size: 13px;
  height: 10px;
  justify-content: center;
  left: -10px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 10px;
}

.brick-expand-icon:before {
  content: '+';
}

.brick-expanded > .brick-expand-icon:before {
  content: '–';
}

.brick-expanded > .brick-body {
  background-color: #ffcc80;
  height: auto;
  padding: 0 10px;
  width: auto;
}

.brick-expanded > .brick-body > .brick-body-expanded {
  display: block;
  opacity: 1;
}

.brick-expanded > .brick-body > .brick-name {
  left: 52px;
  top: -6px;
}

.brick-fact {
  margin-left: 110px;
}

.brick-minus {
  margin-left: 110px;
}

.constant-body {
  border-radius: 50%;
  display: inline-block;
  font-size: 13px;
  line-height: 17px;
  min-height: 17px;
  min-width: 25px;
  text-align: center;
  vertical-align: middle;
}

.constant-color {
  background-color: #8391d8;
  box-shadow: 2px 2px 5px gray;
}

.constant-slot {
  height: 10px;
  left: 7px;
  position: relative;
  width: 10px;
}

.constant-one {
  margin-left: 155px;
}

.constant-one > .constant-body {
  margin-top: 15px;
}


.pipe {
  align-items: center;
  display: inline-flex;
  height: 65px;
  justify-content: center;
  position: relative;
  width: 20px;
}

.pipe-shape {
  background-color: #8391d8;
  height: 100%;
  position: absolute;
  transform-origin: left top;
  width: 20px;
}

.pipe-value {
  position: relative;
  z-index: 100;
}

.pipe-one {
  height: 100%;
  left: 20px;
  position: absolute;
}

.pipe-two {
  height: 135px;
  left: 20px;
  position: absolute;
}

.pipe-two > .pipe-shape {
  transform: skewX(39deg);
}

.pipe-two > .pipe-value {
  left: 55px;
}

.pipe-three {
  left: 170px;
  top: -3px;
}

.pipe-four {
  left: 150px;
}

.pipe-five {
  left: 150px;
  position: relative;
}

.pipe-five > .pipe-shape {
  transform: skewX(-54deg);
}

.pipe-five > .pipe-value {
  left: -45px;
}

.pipe-six {
  margin-left: 40px;
}

.pipe-six > .pipe-shape {
  transform: skewX(-17deg);
}

.pipe-six > .pipe-value {
  left: -10px;
}

.pipe-seven {
  margin-left: 20px;
}
