body, html {
  margin: 0;
  border: 0;
}

div {
  box-sizing: border-box;
}

.workspace {
  background-color: #ddd;
  overflow: hidden;
}

.mainbrick {
  margin: 25px;
}

.mainbrick-color {
  background-color: #bbb;
}

.mainbrick-body {
  display: inline-block;
  padding: 0 55px;
}

.mainbrick-inputslots {
  height: 20px;
}

.mainbrick-outputslots > .mainbrick-slot {
  margin-left: 95px;
}

.mainbrick-slot {
  display: inline-block;
  height: 20px;
  margin-left: 75px;
  width: 20px;
}

.inner-section {
  position: relative;
}

.brick {
  width: 100px;
}

.brick-body {
  height: 35px;
  line-height: 35px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

.brick-color {
  background-color: #b39ddb;
  box-shadow: 2px 2px 5px gray;
}

.brick-output {
  position: relative;
}

.brick-slot {
  display: inline-block;
  height: 20px;
  margin-left: 20px;
  width: 20px;
}

.brick-slot:first-child:nth-last-child(1) {
  margin-left: 40px;
}

.brick-slots {
  display: flex;
}

.brick-fact {
  margin-left: 110px;
}

.brick-minus {
  margin-left: 110px;
}

.constant-body {
  border-radius: 50%;
  display: inline-block;
  line-height: 35px;
  min-height: 35px;
  min-width: 50px;
  text-align: center;
  vertical-align: middle;
}

.constant-color {
  background-color: #8391d8;
  box-shadow: 2px 2px 5px gray;
}

.constant-slot {
  height: 20px;
  left: 15px;
  position: relative;
  top: -3px;
  width: 20px;
}

.constant-one {
  margin-left: 155px;
}

.constant-one > .constant-body {
  margin-top: 15px;
}


.pipe {
  align-items: center;
  display: inline-flex;
  height: 65px;
  justify-content: center;
  position: relative;
  width: 20px;
}

.pipe-shape {
  background-color: #8391d8;
  height: 100%;
  position: absolute;
  transform-origin: left top;
  width: 20px;
}

.pipe-value {
  z-index: 100;
}

.pipe-one {
  height: 415px;
  left: 20px;
  position: absolute;
}

.pipe-two {
  height: 135px;
  left: 20px;
  position: absolute;
}

.pipe-two > .pipe-shape {
  transform: skewX(39deg);
}

.pipe-two > .pipe-value {
  left: 55px;
  position: relative;
}

.pipe-three {
  left: 170px;
  top: -3px;
}

.pipe-four {
  left: 150px;
}

.pipe-five {
  left: 150px;
  position: relative;
}

.pipe-five > .pipe-shape {
  transform: skewX(-54deg);
}

.pipe-five > .pipe-value {
  left: -45px;
  position: relative;
}

.pipe-six {
  margin-left: 40px;
}
